    <h1>Matches</h1>
    
    <p *ngIf="!matches"><em>Loading....</em></p>
    
    <div>
      <button class="btn btn-primary" [routerLink]="['/register-match']">
        <span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Add new
        match
      </button>
    </div>

    <br/>
    <table class="table">
      <thead>
        <tr>          
          <th>Match Date</th>
          <th>Player 1</th>
          <th>Player 2</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td> {{ match.matchDate | date: 'yyy-mm-dd' }}</td>
          <td> {{ match.participants[0].member.name }} {{ match.participants[0].member.surname }}</td>
          <td> {{ match.participants[1].member.name }} {{ match.participants[0].member.surname }}</td>                    
          <td></td>
          <td>            
          </td>
        </tr>
      </tbody>
    </table>   
