<h1> Member </h1>
<br />
<h3> {{ title }} </h3>
<hr />

<form [formGroup]="memberForm" (ngSubmit)="save()">
  <div class="form-group row">
    <label class="control-lable col-md-12">Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" required formControlName="name" />
    </div>
    <span class="text-danger"
          *ngIf="
            (registerFormControl.name.touched || submitted) &&
          registerFormControl.name.errors?.required
            ">
      Name is required.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-lable col-md-12">Surname</label>
    <div class="col-md-4">
      <input class="form-control" type="text" required formControlName="surname" />
    </div>
    <span class="text-danger"
          *ngIf="
            (registerFormControl.surname.touched || submitted) &&
          registerFormControl.surname.errors?.required
            ">
      Surname is required.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-lable col-md-12">Email</label>
    <div class="col-md-4">
      <input class="form-control" type="text" required formControlName="email" />
    </div>
    <span class="text-danger"
          *ngIf="
            (registerFormControl.email.touched || submitted) &&
          registerFormControl.email.errors?.required
            ">
      Email is required.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-lable col-md-12">Birthday</label>
    <div class="col-md-4">
      <input class="form-control" type="date" required formControlName="birthday" />
    </div>
    <span class="text-danger"
          *ngIf="
            (registerFormControl.birthday.touched || submitted) &&
          registerFormControl.birthday.errors?.required
            ">
      Birthday is required.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-lable col-md-12">Join Date</label>
    <div class="col-md-4">
      <input class="form-control" type="date" required formControlName="joinDate" />
    </div>
    <span class="text-danger"
          *ngIf="
            (registerFormControl.joinDate.touched || submitted) &&
          registerFormControl.joinDate.errors?.required
            ">
      Join Date is required.
    </span>
  </div>

  <br />
  <hr />
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>
